.bg-img-project-1 {
    background-image: url('imgs/v2/bg_taxibip.jpg');
    width: 100%;
}
.bg-img-project-2 {
    background-image: url('imgs/v2/bg_arlefin_2.jpg');
    width: 100%;
}
.bg-img-project-3 {
    background-image: url('imgs/v2/bg_museos.png');
    width: 100%;
}