
@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: 'Rubik Bold';
    src: url('fonts/Rubik-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight:bold;
  }

@font-face {
    font-family: 'BerkshireSwash';
    src: url('fonts/BerkshireSwash-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

  .text-font {
    font-family: 'BerkshireSwash' !important;
    font-size: 2rem;
  }

  .text-rubik-regular {
    font-family: 'Rubik' !important;
  }
  .text-rubik-bold {
    font-family: 'Rubik Bold' !important;
  }
  .text-Berks {
    font-family: 'BerkshireSwash' !important;
  }

/* General */
body {
  font-family: 'Rubik';
  color: #333333;
}
main.main-padding {
  padding-top: 20vh;
}
.text-paragrah {
  font-size: 20px !important;
}


/*-+-+-+-+-+-+-+-+ INICIO +-+-+-+-+-+-+-+-*/
.main-container {
  margin-top: 8rem;
}
.bg-img {
    background-size:cover;
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-position: top;
}
.bg-img-inicio {
  background-image: url('imgs/v2/bg_red_abstract.jpg');
  width: 100%;
  height: 100vh;
}
.bg-img-navbar {
  background-image: url('imgs/v2/bg_red_abstract.jpg');
  width: 100%;
  background-size:cover;
  background-position: center;
}
.bg-img-quiensoy {
  background-image: url('imgs/bg_purple_degrade_01.png');
  background-position: top left !important;
}
.bg-img-proyectos {
  background-image: url('imgs/bg_aqua_degrade_01.png');
}
.subtitle {
  font-size: 1.2rem;
}
.text-degrade {
  background: -webkit-linear-gradient(#efcc00,#b70404, #333333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #b70404;  
}

.bg-degrade:hover {
  background: -webkit-linear-gradient(#efcc00,#b70404, #333333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #b70404;  
}
.background-dark {
  background-color: #0c0c0c;
}

/* CITA */
blockquote {
  color: #f2c605;
  font-family: 'BerkshireSwash', Tahoma, sans-serif;
  font-size: 1.2rem; 
  margin: 1rem auto;
}

.navbar-toggler-icon {
  color: #ffffff !important;
}

 /*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*/
 /* @media  (min-width: 500px) {
  .bg-img-inicio {
    height: 100%;
  }
  main.main-padding {
    padding-top: 2vh;
  }
} */
@media  (max-width: 800px) {
  .bg-img-inicio {
    height: 100%;
  }
  main.main-padding {
    padding-top: 10vh;
  }
}

/* i {
  font-size: 25px;
} */
