:root {
  --bs-frambuesa: #E8104A;
  --bs-naranja: #FF6E07;
  --bs-amarillo: #ffba26;
  --bs-dark: #333333;
}
@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: 'Rubik Bold';
    src: url('fonts/Rubik-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight:bold;
  }

@font-face {
    font-family: 'BerkshireSwash';
    src: url('fonts/BerkshireSwash-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

  .text-font {
    font-family: 'BerkshireSwash' !important;
    font-size: 2rem;
  }

  .text-rubik-regular {
    font-family: 'Rubik' !important;
  }
  .text-rubik-bold {
    font-family: 'Rubik Bold' !important;
  }
  .text-Berks {
    font-family: 'BerkshireSwash' !important;
  }

/* General */
body {
  font-family: 'Rubik';
  font-size: 1.2rem;
  color: var(--bs-dark);
}

.line-frambuesa {
  border-color: var(--bs-frambuesa);
}
.line-dark {
  border-color: var(--bs-dark);
}
/* NABVAR */
.bg-navbar {
  background: linear-gradient(63.5deg, var(--bs-frambuesa) 16.42%, var(--bs-naranja) 83.15%);
  color: #ffffff;
}
.nav-link:hover {
  background-color: #333333;
  border: 1px #333333;
  border-radius: 4px;
}

 /* Default height for small devices */
 .intro {
  /* height: 400px; */
  margin-top: 15vh;
  margin-bottom: 15vh;
}
.intro-title {
    font-size: 3.8rem; /*72px*/
    line-height: 4.3rem;
    font-weight: bold;
}
.intro-subtitle {
    font-size: 1.3rem;
}
.bg-about {
    color: #ffffff;
    background-color: var(--bs-frambuesa);
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.label-title {
  font-size: 2.5rem;
}
.text-frambuesa {
  color: var(--bs-frambuesa);
}
.text-naranja {
  color: var(--bs-naranja);
}
.text-bold {
  font-weight: bold;
}

.bg-button-frambuesa {
  color: var(--bs-frambuesa);
  border-color: var(--bs-frambuesa) !important;
  font-size: 1.2rem;
}
.bg-button-frambuesa:hover {
  color: #ffffff;
  background-color: var(--bs-frambuesa);
}
.link-frambuesa {
  color: var(--bs-frambuesa);
  font-size: 1.2rem;
}

.btn-outline-dark:hover {
  background-color: black;
  color: white;
}

.footer-link:hover {
  color: var(--bs-amarillo) !important;
}



/*-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-
.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.*/


@media  (max-width: 800px) {
  .intro {
    margin-top: 10vh;
  }
  .intro-title {
    font-size: 2.8rem;
    line-height: normal;
  }
.intro-subtitle {
    font-size: 1.3rem;
}
}
